@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


#root {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pagination {
  margin: 0 auto;
  padding-bottom: 10px;
}

.page-link {
  color: #6c757d !important;
}

.active #page_item_link {
  color: white;
  background: #b2b8be;
  border-color: #6c757d;
}
