@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


#root {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
